<div class="bg-blueGray-200">
  <section class="pb-20">
    <div class="container mx-auto px-4">

      <div class="flex flex-wrap items-center" >



        <div class="w-full mr-auto ml-auto posts_content_div mt-4">
          <div class="grid">
            <div class="box">
              <div class="flex flex-col items-center">
                <div class="" style=" width: 70%">
                  <img
                    alt="..."
                    src="assets/images/posts/image_1.png"
                    class="rounded"
                    style=" object-fit: cover; object-position: top; background: #cdcedd; border: 3px solid #cdcedd; width: 100%; height: 100%"
                  />
                </div>
                <div class="dynamic-height" style=" align-items: center; justify-content: center; overflow-y: auto;">
                  <p class="text-justify mx-3" style="font-size: 18px ">
                    Bazen seanslarda danışanlarımın ‘neden böyle hissediyorum, bunu hissetmek istemiyorum, bir an önce geçsin istiyorum’ gibi sözleri oluyor.. bunu bazen arkadaşlarımdan, çevremden de duyuyorum, ne yalan söyleyim bazen ben de kendimi böyle düşünürken yakalıyorum..
                    Duyguları hissetmek ya da hissetmemek tamamen bizim kontrolümüzde gibi bir algımız oluyor bazen..
                    Özellikle de yetiştirilirken, ‘abartma,üzülme, öfkelenme bak hanım kızlar böyle yapmaz, erkek adam ağlamaz, kocaman oldun artık bak abiler/ablalar böyle davranmaz’ gibi kültürümüzde de çok yaygın olan sözlere maruz kalıp duygularımızı adlandırmayı değil de onları ötelemeyi, bastırmayı ya da yanlış hislere sahip olduğumuzu öğrendiysek duygulara olan meselemiz daha çetrefilli oluyor.. bazen oluyor ki ‘ne hissediyorsun’ sorusuna sadece iyi ya da kötü olarak cevap verebiliyoruz, duygumuzu adlandırmak dahi zorlaşıyor.
                    Fotoğraflarda aynı manzaranın farklı zamanlarda çekilmiş halini görüyoruz. Bulutlu, açık, gün doğarken ve gece vakti.. Hiç birinde ağaçlardan ya da manzaradan bir şey eksilmiyor. Hepsinin farklı bir anlamı var.
                    Kontrol edemeyeceğimizi bildiğimiz için hava niye bulutlu, niye yağmur yağıyor diye pek sorgulamayız hep aydınlık olsun, yağmur artık dursun diye bir çaba içine girmeyiz. Yağmur dinmesini bekleriz ya da önlem alırız. Günün ağarmasını bekleriz. Çünkü gelip geçici olduğunu biliriz..
                    Duygular da tıpkı böyledir, gelir ve giderler. Hepsinin farklı bir anlamı var ve hiç biri bizden bir şey eksiltmez.
                    Böyle hissetmemeliyim, hemen bu hissim geçsin demek içinde bulunan durumu daha zor hale getirir. O an yapabileceğimiz şey duyguları deneyimlemek, ona alan açmak ve bu duygu bizi sık sık yokluyorsa neden böyle hissediyorum, az önce ne oldu, bunu daha önce nerelerde hissediyordum gibi merakla o duyguyu ortaya çıkaran şeyi bulmak olabilir. Duyguları reddetmek ve bastırmak yerine onları tanımlamak, adlandırmak ve anlamlandırmak onların bizim üzerimizdeki etkisini daha çok hafifletecektir.
                  </p>
                </div>
              </div>
            </div>
            <div class="box">Box 2</div>
            <div class="box">Box 3</div>
            <div class="box">Box 4</div>
            <div class="box">Box 5</div>
            <div class="box">Box 6</div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>
