@media only screen and (max-width: 768px) {
  .posts_content_div {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 769px) {
  .posts_content_div {
    margin-top: 8rem;
  }
}

.custom-disc-color li::marker {
  color: #252f7e; /* Change this to your desired color */
}


.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 5rem ;
}

.box {
  width: 35rem;
  height: 50rem;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.dynamic-height {
  height: calc(100vh - 40rem); /* Adjust the 10rem as needed */
}
