@media only screen and (max-width: 768px) {
  .about_content_div {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 769px) {
  .about_content_div {
    margin-top: 8rem;
  }
}

.custom-disc-color li::marker {
  color: #252f7e; /* Change this to your desired color */
}

