#myVideo {
  position: unset;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.blockquote-footer {
  padding: 2rem 0rem;
}

.text-cycle {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text-cycle.fade-in {
  opacity: 1;
}

.text-cycle.fade-out {
  opacity: 0;
}

.homeVideo{
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.homeMain.mobile-active {
  overflow-x: hidden;
}

.mobile-div{
  width: 100%;
}

.desktop-div{
  width: 25%;
}

.mobile-blockquote{
  padding-left: 3rem;
  padding-right: 3rem;
}

.desktop-blockquote{
  padding-left: 15rem;
  padding-right: 15rem;
}

.fancy-text {
  font-family: 'Cursive', 'Comic Sans MS', 'Brush Script MT', sans-serif;
}

