
<div class="max-w-lg mx-auto">

  <!--<button class="text-white bg-blue-700 hover:bg-blue-800
                focus:ring-4 focus:ring-blue-300 font-medium
                rounded-lg text-sm px-4 py-2.5 text-center
                inline-flex items-center"
          type="button" data-dropdown-toggle="dropdown">Çalışma Alanlarım
    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </button>-->

  <a class="lg:text-white lg:hover:text-blueGray-200 text-blue-500
            px-3 lg:py-2 flex items-center text-xs uppercase font-bold"
     type="button" data-dropdown-toggle="dropdown">
    <i class="lg:text-blueGray-200 text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2 "></i>
    Çalışma Alanlarım
  </a>

  <!-- Dropdown menu -->
  <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="dropdown">
    <!--<div class="px-4 py-3">
      <span class="block text-sm">Bonnie Green</span>
      <span class="block text-sm font-medium text-gray-900 truncate">name@flowbite.com</span>
    </div>-->
    <ul class="py-1" aria-labelledby="dropdown">
      <li>
        <p class="text-sm hover:bg-gray-100 block px-4 py-2" style="color: darkred">Bireysel Psikoterapi</p>
      </li>
      <li>
        <p class="text-sm hover:bg-gray-100 block px-4 py-2" style="color: orange">Ergen Terapisi</p>
      </li>
      <li>
        <p class="text-sm hover:bg-gray-100 block px-4 py-2" style="color: darkred">Aile ve Çift Terapisi</p>
      </li>
      <li>
        <p class="text-sm hover:bg-gray-100 block px-4 py-2" style="color: orange">Online Terapi</p>
      </li>
    </ul>
  </div>


</div>

<!--<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>-->

